{% extends 'base.html.twig' %}

{% block title %}E-mail envoyé{% endblock %}

{% block body %}
    <p>
    Si un compte est associé à cette adresse e-mail, un message contenant un lien de réinitialisation
    vient de vous être envoyé.
</p>

<p>
    Ce lien expirera dans
    <strong>{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</strong>.
</p>

<p>
    Si vous ne recevez pas cet e-mail, pensez à vérifier votre dossier des courriers indésirables (spam)
    ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.
</p>
{% endblock %}
