{% extends 'base.html.twig' %}

{% block title %}Espace employé
{% endblock %}

{% block body %}

	<div class="container py-5">
		<div class="row g-4 justify-content-center">

			{% include 'employee/components/_employer_commande.html.twig' %}
			{% include 'employee/components/_employer_horaire.html.twig' %}
			{% include 'employee/components/_employer_menu.html.twig' %}
			{# {% include 'employee/components/_employer_plat.html.twig' %} #}

		</div>
	</div>
	
{% endblock %}
