{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}

	<div class="container py-5">
		<div class="row g-4 justify-content-center">

			{% include 'admin/components/_admin_setting.html.twig' %}
            {% include 'admin/components/_admin_menu.html.twig' %}
			{% include 'admin/components/_admin_order.html.twig' %}
			

		</div>
	</div>

{% endblock %}
