<div class="col-md-4">
	<div class="card p-3">
		<h2 class="text-center">Gestion des employés</h2>

        <p class="text-muted">
            Créer un nouveau compte employé.
        </p>

        <a href="{{ path('app_register') }}" class="btn btn_admin_setting mt-1 mb-2">
            Créer un employé
        </a>
	</div>
</div>