<div class="col-md-4">
	<div class="card p-3">
		<h2 class="text-center">Gestion des Menus</h2>
		<div>
			<p>Modifiez les informations affichées sur le site (nom, coordonnées, adresse, horaires...).</p>
		</div>
		<a href="{{ path('app_admin_catalogue') }}" class="btn btn_admin_setting mt-1 mb-2">
			<i class="bi bi-gear-fill me-2"></i>
			Gérer les menus du site
		</a>
	</div>
</div>
