{% extends 'base.html.twig' %}

{% block title %}Vite & Gourmand{% endblock %}

{% block body %}
<div class="container mt-5">

            {% include 'components/_contact.html.twig' %}

</div>
{% endblock %}