<div class="col-md-3 mb-4">
	<div class="card h-100 shadow-sm">
		<div class="card-body review-card">
			<h3 class="h5 review-name">{{ avis.nom }}</h3>
            <p>______________________________________</p>
			<p class="review-note">{{ avis.note }}/5</p>
			<strong class="review-text">{{ avis.commentaire }}</strong>
		</div>
	</div>
</div>
