<footer class="footer mt-6">
	<div class="container">
		<div class="row gy-2">
			<div class="col-md-3">
				<h4 class="footer-title">Vite & Gourmand</h4>
				<p class="footer-text">
					Des plats fait maison, peparés avec des produit frais et livrés rapidement chez vous.
				</p>
			</div>
			<div class="col-md-2">
				<h5>Navigation</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ path('app_home') }}">Accueil</a>
					</li>
					<li>
						<a href="#">Menus</a>
					</li>
					<li>
						<a href="{{ path('app_contact') }}">Contact</a>
					</li>
					<li>
						<a href="#">mentions légales</a>
					</li>
					<li>
						<a href="#">conditions générales de vente</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5>Contact</h5>
				<p>
					<i class="bi bi-envelope me-2"></i>
					Email : contact@vite-gourmand.fr</p>
				<p>
					<i class="bi bi-telephone me-2"></i>
					Téléphone : 01 23 45 67 89</p>
				<p>
					<i class="bi bi-geo-alt me-2"></i>
					Adresse : 123 Rue de la Paix, 33000 Bordeaux</p>
			</div>
			<div class="col-md-4">
				<h5>jours et Horaires d'ouverture</h5>
				<p>
					<i class="bi bi-clock me-2"></i>de Lundi au vendredi de 08:00-12:00 et de 13:00-19:00</p>
				<p>
					<i class="bi bi-clock me-2"></i>Samedi : 08:00 - 13:00</p>
				<p>
					<i class="bi bi-clock me-2"></i>Dimanche : Fermé</p>
			</div>
			<hr>
			<div class="text-center footer-copyright">
				<p>&copy; 2026 Vite & Gourmand. Tous droits réservés.</p>
			</div>
		</div>
	</div>
</footer>
