{% extends 'base.html.twig' %}

{% block title %}Vite & Gourmand{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">🍽️ Nos menus</h1>

    <div class="row">
        {% for menu in menus %}
            {% include 'components/_menu_card.html.twig' %}
        {% endfor %}
    </div>
</div>
{% endblock %}