<div class="col-md-4">
	<div class="card p-3">
		<h2 class="text-center">Menus</h2>

            <p>Voir et modifier les menus.</p>

            <a href="{{ path('app_admin_settings') }}"
               class="btn btn_admin_setting mt-auto">
                Gérer les menus
            </a>
        </a>
	</div>
</div>