<div class="col-md-4">
	<div class="card p-3">
		<h2 class="text-center">commandes</h2>

        <p class="text-muted">
            Voir/Modifiez les commandes.
        </p>

        <a href="{{ path('app_menu_index') }}" class="btn btn_admin_setting mt-1 mb-2">
            Gerer les commandes
        </a>
	</div>
</div>