<div class="col-md-4">
	<div class="card p-3">
		<h2 class="text-center">Plats</h2>

            <p>Voir et modifier les plats.</p>

            <a href="{{ path('app_plat_index') }}"
               class="btn btn_admin_setting mt-auto">
                Gérer les plats
            </a>
	</div>
</div>